@model IEnumerable<UniversalDashboard.Models.SiteConnection>
@{
    ViewData["Title"] = "Connected Sites";
}
<h2>Connected Sites</h2>


@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}



<a class="btn btn-success mb-3" href="/Sites/Create">Add New Site</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>API URL</th>
            <th>API Key</th>
            <th>API Key</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var site in Model)
        {
            <tr>
                <td>@site.Name</td>
                <td>@site.ApiUrl</td>
                <td>@site.Endpoint</td>
                <td>@site.ApiKey</td>
                <td>
                    <a href="/Sites/CheckApiPerformance/@site.Id" class="btn btn-warning btn-sm">Check Performance</a>
                    <a class="btn btn-warning btn-sm" asp-action="SyncSite" asp-route-id="@site.Id">Sync</a>
                    <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@site.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@site.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
